.git
.DS_Store
artifacts
build
recompile/build
recompile/target
recompile/runtime/vm/*.img
recompile/runtime/vm/*.qcow2
recompile/runtime/vm/*.iso
recompile/runtime/vm/kernel/*
recompile/benchmark_results
recompile/**/.DS_Store
recompile/**/target
recompile/**/build
recompile/crashpack
recompile/examples/*.dSYM
recompile/examples/build
recompile/scripts/*.log
